docs/cse598/hotels.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hotel" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="phone"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="number"/>
                          <xs:element type="xs:string" name="street"/>
                          <xs:element type="xs:string" name="city"/>
                          <xs:element type="xs:int" name="zip"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="busLines" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="stars" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
